.movies{
    width: 250px;
    margin: 10px;
    height: min-content;
   
    /* background-color: rgb(255, 193, 127); */

}
.img{
    
    height: 450px;
    width: 100%;
    object-fit: cover;
    /* border-radius: 100px; */
}
.ratings{
display:flex;
justify-content :space-between;
align-items: center;
}
.movie-css{
    /* display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
    justify-items: center;
    justify-content: space-around;
    /* margin: 100px; */
}
.add-movie-form{
    display: flex;
    flex-flow: column;
    width: 400px;
    margin: 10px;
    gap: 10px;
}
